<% if user.username != "admin" %>
  <%= link_to(user) do %>
    <div class="row extra_margin">
    <h4 class="first_uppercase small-2 large-2 columns user-name-padding"><%= user.username%></h4>
    <div class="small-2 large-2 columns">
      <div id="user-pic" class="profile_photo_container th" style="background-image:url(<%= user.image %>)"></div>
    </div>
    

    <div class="th small-8 large-8 columns no-paddig">
      <% user.sneakers.first(4).each do |sneaker| %>
          <div id="small-pics" class="small-3 large-3 columns" style="background-image:url(<%= sneaker.image %>)">
          </div>
      <% end %>
    </div>
    </div>  
  <% end %>
<% end %>