<div class="row">
  <div class="small-8 large-8 columns">
    <h4 class="bold">Brand name</h4>
    <p><%= @make.name %></p>
  </div>
  <div class="small-4 large-4 columns">
    <p><%= image_tag @make.image %></p>
  </div>
</div>

<h4 class="bold">Brand discription</h4>
<p><%= @make.discription %></p>
<br>

<h4 class="bold">Sneakers</h4>
<hr>
<br>

<div class="row">
  <%= render @make.latest %>
</div>