<div class="row">
  <div class="small-6 large-8 columns">
    <h3>Top rated!</h3>
  </div>

  <div class="small-6 large-4 columns text-align-right">
    <div class="button info upload_button">
      <i class="fa fa-plus"></i>
      <%= link_to 'Add a new ', new_sneaker_path %>
    </div>
  </div>
</div>

<div class="row">
  <%= render @sneakers.limit(9) %>
</div>
<br>