body {
  text-align: center;
  padding: 5px;
}

.sneaker_callout {
  width: 100%;
  padding: 8rem 0 8rem;
  background-size: cover;
  background-position: center;
}

.micro_padding {
  padding: 1rem;
}