body {

  header {
    text-align: center;
  }

  // text-align: center;
  padding: 5px;
  overflow-x:hidden;

  nav ul {
    li{
      display: inline-block;
    }
  }

  .inline-block {
    display: inline-block;
  }

  .sneaker_callout {
    display: inline-block;
    width: 100%;
    padding: 8rem 0 8rem;
    background-size: cover;
    background-position: center;
  }

  .micro_padding {
    padding: 1rem;
  }

  .sneaker_icon {
    width: 50px;
  }
}

//NAV

#hambuger {
  margin-left: .8rem;
}

//Users profile

.profile_photo_container_top {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50px;
  margin-left: 4.5rem;
  margin-top: .25rem;
}

.profile_photo_container{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50px;
  // margin-left: 4.5rem;
  margin-top: .25rem;
}

// DRY

.top_hr {
  margin-top: 2px;
}

li {
  list-style-type: none;
}

.text-align-left {
  text-align: left
}

.text-align-right {
  text-align: right
}

.text-align-centre {
  text-align:center;
}

.menu-icon {
  margin: 0 .9rem ;
}

.vote {
  font-weight: 500;
  font-size: 1rem;
  margin: 1rem 0rem 1rem 1rem;
  float: right;
}

.margin-bottom {
  margin-bottom: .8rem;
}

.nav_button_margin {
  margin-top: .4rem;
  margin-left: 1rem;
}

.upload_button {
  font-weight: 300;
  margin-top: .5rem;
  margin-left: 4.7rem;
  padding: 10px;
  border: 0px;
  color: white;
}

//User Page

.first_uppercase::first-letter{
  text-transform: uppercase;
}

.extra_margin {
  margin: 1rem !important;
}

.info {
  margin-top: 6px;
}









