body {

  padding: 5px;
  overflow-x:hidden;

    header {
      text-align: left;
    }

    nav ul {

      li{
        display: inline-block;
      }

    }

    .inline-block {
      display: inline-block;
    }

    .sneaker_callout {
      display: inline-block;
      width: 100%;
      padding: 8rem 0 8rem;
      background-size: cover;
      background-position: center;
    }

    .micro_padding {
      padding: 1rem;
    }

    .sneaker_icon {
      width: 50px;
    }
}

//NAV

#hambuger {
  margin-left: .8rem;
}

//Users profile

.profile_photo_container_top {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50px;
  margin-top: .25rem;
}

.profile_photo_container{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50px;
  // margin-left: 4.5rem;
  margin-top: .25rem;
}

// DRY

.font-page-title {
  margin: 4rem 0 2rem;
}


.top_hr {
  margin-top: 2px;
}

li {
  list-style-type: none;
}

.text-align-left {
  text-align: left
}

.text-align-right {
  text-align: right
}

.text-align-centre {
  text-align:center;
}

.menu-icon {
  margin: 0 .9rem ;
}

.vote {
  font-weight: 500;
  font-size: 1rem;
  margin: 1rem 0rem 1rem 1rem;
  float: right;
}

.margin-bottom {
  margin-bottom: .8rem;
}

.nav_button_margin {
  margin-top: .4rem;
  margin-left: 1rem;
}

.upload_button {
  font-weight: 300;
  margin-top: .5rem;
  padding: 10px;
  border: 0px;
  color: white;

  i {
    color: #008CBA;
    padding: 5px 5px 0px 0px;
  }
}

//User Page

.first_uppercase::first-letter{
  text-transform: uppercase;
}

.extra_margin {
  margin: 1rem !important;
}

.info {
  margin-top: 6px;
}

.micro-margin {
  margin-left: 16px;
}

//Make logo

.make-logo{
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
}

footer {
  text-align: center;
  background-color: white;
  margin: -10px;
  padding: 15px;

  h4 {
    color: black;
  }

  i {
    color: black;
    padding: 0 1rem;
  }
}

#small-pics {
  background-position: center;
  background-size: cover;
  padding: 2.5rem 2rem;
}

#user-pic {
  margin-top: .8rem;
}

.no-paddig {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}
.float-right {
  float: right;
}

img {
  width: 100%;
}

.bold {
  font-weight: 500;
}

.comment-box {
  border: 1px black solid;
  padding: 5px;
}

.vote {
  color: #008CBA;
}

.border{
  margin: 6rem 0;
}

.user-name-padding{
  margin-top: 1.5rem;
  color: #008CBA;
}

.top-margin{
  margin-top: 1.2rem;
}




