<p id="notice"><%= notice %></p>

<h1>Listing Sneakers</h1>
  <div class="row">
    <% @sneakers.each do |sneaker| %>
      <%= link_to(sneaker) do %>
        <div class="large-4 columns">
          <div class="th sneaker_callout" style="background-image:url(<%= sneaker.image %>)"></div>
          <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/106005-200.png">
        </div>
      <% end %>
    <% end %>
  </div>
<br>

<%= link_to 'New Sneaker', new_sneaker_path %>

